.classList {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 266px;
  height: 136px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  background: #ccc;
  color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  
  .name {
    font-size: 24px;
  }
  
  .time {
    font-size: 16px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: row;
  }
}