<!-- Generated template for the PersonalInfoComponent component -->
<div class="container">
  <div class="info">
    <div class="avatar">
      <img src="assets/imgs/avatar.png" alt="">
    </div>
    <div class="detail">
      <div class="name">
        <span>张一鸣</span>
      </div>
      <div class="classroom">
        <span>浙北旗舰店</span>
        <span class="id">CATF100387</span>
      </div>
    </div>
  </div>
  <div class="interactive">
    <div class="item" (click)="navTo('MyPointPage')">
      <div>
        <img src="assets/imgs/icon_score.png" alt="">
      </div>
      <span>我的积分</span>
    </div>
    <div class="item" (click)="navTo('MyPointPage')">
      <div>
        <img src="assets/imgs/icon-news.png" alt="">
      </div>
      <span>互动消息</span>
    </div>
    <div class="item" (click)="navTo('MyPointPage')">
      <div>
        <img src="assets/imgs/icon_grow.png" alt="">
      </div>
      <span>成长记录</span>
    </div>
  </div>
</div>
