<!-- Generated template for the ModalPostPageComponent component -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      发布成长记录
    </ion-title>
    <ion-buttons start>
      <button ion-button tappable (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">取消</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button tappable (click)="submit()">
        <span ion-text color="primary" showWhen="ios">发布</span>
        <ion-icon name="md-checkmark" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
      <ion-textarea placeholder="说点什么吧…" rows="12" formControlName="record" class="text"></ion-textarea>
      <div class="imgContainer">
        <div *ngFor="let imgUrl of photoList" class="target">
          <div class="del" (click)="delImage(imgUrl)"></div>
          <img src="{{imgUrl || ''}}" alt="" />
        </div>
        <div>
          <div class="empty" *ngIf="photoList.length < 3" tappable (click)='addPhoto()'></div>
        </div>
      </div>
  </form>
</ion-content>
