<!-- Generated template for the ModalPostPageComponent component -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      <div *ngIf="imgLength > 1; else other_content">
          发布动态
      </div>
      
      <ng-template #other_content>个人简历</ng-template>
      <!-- <div *nfIf="imgLength > 1; then content">发布动态</div>
      <ng-template #content>个人简历</ng-template> -->
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">取消</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="submit()">
        <span ion-text color="primary" showWhen="ios">发布</span>
        <ion-icon name="md-checkmark" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="form">
      <ion-textarea placeholder="说点什么吧…" rows="12" formControlName="record"></ion-textarea>
      <div class="imgContainer">
        <div *ngFor="let imgUrl of photoList" class="target">
          <img src="{{imgUrl || ''}}" alt="" />
        </div>
        <div>
          <div class="empty" *ngIf="photoList.length < imgLength" (click)='addPhoto()'></div>
        </div>
      </div>
  </form>
</ion-content>
