
.triangleDown::after {
  content: ' ';
  position: absolute;
  border: 8px solid #6490FF;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: 10px;
  margin-top: 19px;
}

.listWrap {
  position: absolute;
  width: 260px;
  background: #fff;
  z-index: 3;
  max-height: 315px;
  overflow-y: auto;

}

.top {
  &::before {
    content: ' ';
    position: absolute;
    border: 8px solid #6490FF;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    margin-left: 10px;
    margin-top: 19px;
  }
}