page-cards {
  .content {
    background-color: #f2f2f2;

    ion-card {
      position: relative;
      background-color: #fff;
    }

    .cardType {
      position: absolute;
      z-index: 5;
      display: flex;
      flex-direction: column;
      top: 0;
      color: #fff;
      height: 100%;
      justify-content: space-between;

      .title {
        font-size: 30px;
        margin: 18px;
      }

      .date {
        font-size: 15px;
        margin: 0 18px 18px;
      }
   }
  }
}
