page-news-detail {
  .title {
    padding-top: 21px;
    font-size: 24px;
    color: #333333;
  }

  .info {
    display: flex;
    padding-top: 5px;
    .iphoto {
      width: 36px;
      height: 36px;

      img {
        width: 100%;
      }
    }

    .cont {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 9px;
      .times {
        font-size: 14px;
        color: #666666;
      }
      .times {
        font-size: 12px;
        color: #999999;
      }
    }
  }

  .content {
    padding-top: 20px;
    font-size: 14px;
    color: #666666;
    line-height: 22px;
  }

  .wrap {
    padding: 0 16px;
  }

}
