<!-- Generated template for the MyInfoListComponent component -->
<div class="list">
  <div class="listItem">
    <div class="icon"><img src="../../assets/imgs/personal.png" alt=""></div>
    <div class="text">个人信息</div>
  </div>
  <div class="listItem">
    <div class="icon"><img src="../../assets/imgs/personal.png" alt=""></div>
    <div class="text">个人信息</div>
  </div>
  <div class="listItem">
    <div class="icon"><img src="../../assets/imgs/personal.png" alt=""></div>
    <div class="text">个人信息</div>
  </div>
  <div class="listItem">
    <div class="icon"><img src="../../assets/imgs/personal.png" alt=""></div>
    <div class="text">个人信息</div>
  </div>
</div>
