<!-- Generated template for the MyInfoListComponent component -->
<div class="list">
  <div class="listItem" (click)="navTo('PersonalInfoPage')">
    <div class="icon"><img src="assets/imgs/personal.png" alt=""></div>
    <div class="text">个人信息</div>
  </div>
  <div class="listItem" (click)="navTo('CardsPage')">
    <div class="icon"><img src="assets/imgs/icon_mine_card.png" alt=""></div>
    <div class="text">办卡历史</div>
  </div>
  <div class="listItem" (click)="navTo('PersonalInfoPage')">
    <div class="icon"><img src="assets/imgs/icon_mine_cup.png" alt=""></div>
    <div class="text">考级查询</div>
  </div>
  <div class="listItem" (click)="navTo('CoachInfoPage')">
    <div class="icon"><img src="assets/imgs/icon_mine_train.png" alt=""></div>
    <div class="text">我的教练</div>
  </div>
</div>
