<!-- Generated template for the MenuBarComponent component -->
<div class="container">
  <div class="item" (click)="navTo('msg')">
    <div>
      <img src="assets/imgs/icon-news.png" alt="">
    </div>
    <span>互动消息</span>
  </div>
  <div class="item" (click)="navTo('EventsPage')">
    <div>
      <img src="assets/imgs/icon_grow.png" alt="">
    </div>
    <span>成长记录</span>
  </div>
  <div class="item" (click)="navTo('GradeTestPage')">
    <div>
      <img src="assets/imgs/icon_text.png" alt="">
    </div>
    <span>考级查询</span>
  </div>
  <div class="item" (click)="navTo('MyPointPage')">
    <div>
      <img src="assets/imgs/icon_score.png" alt="">
    </div>
    <span>我的积分</span>
  </div>
</div>
