<!-- Generated template for the MenuBarComponent component -->
<div class="container">
  <div class="item">
    <div>
      <img src="../../assets/imgs/icon_news.png" alt="">
    </div>
    <span>互动消息</span>
  </div>
  <div class="item">
    <div>
      <img src="../../assets/imgs/icon_news.png" alt="">
    </div>
    <span>互动消息</span>
  </div>
  <div class="item">
    <div>
      <img src="../../assets/imgs/icon_news.png" alt="">
    </div>
    <span>互动消息</span>
  </div>
  <div class="item">
    <div>
      <img src="../../assets/imgs/icon_news.png" alt="">
    </div>
    <span>互动消息</span>
  </div>
</div>
