menu-bar {
  .container {
    height: 80px;
    width: 345px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;

      div {
        display: flex;
        justify-content: center;

        img {
          height: 27px;
          width: 27px;
        }
      }

      span {
        font-size: 12px;
        font-family: PingFangSC-Regular;
        color: #666;
        margin-top: 10px;
      }
    }
  }
}
