<!--
  Generated template for the ClassDynamicListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="header">
    <ion-title>班级动态</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="dynamic" *ngFor="let dynamic of dynamicList">
    <div class="text">{{dynamic.content}}</div>
    <div class="assist">
      <div class="time">{{dynamic.publishTimeStr}}</div>
      <!-- <div class="delete"></div> -->
    </div>
    <div class="photoGroup">
      <div *ngFor="let imageUrl of dynamic.imageUrl"><img src="{{imageUrl}}" alt=""></div>
      <!-- <div><img src="assets/imgs/iphoto.JPG" alt=""></div>
      <div><img src="assets/imgs/iphoto.JPG" alt=""></div> -->
    </div>
    <div class="bad" *ngIf="dynamic.zan; else elseBlock" (click)="zan(dynamic.id)">点赞</div>
    <ng-template #elseBlock>
      <div class="good" (click)="zan(dynamic.id)">点赞</div>
    </ng-template>
  </div>
</ion-content>
