page-setting {
  .content {
    background-color: #f2f2f2;

    .settingList {
      font-size: 15px;
      color: #333;
      padding: 3px 0;

      ion-label {
        padding-left: 15px;
      }
    }
  }
}
