<!--
  Generated template for the MyChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>我的聊天</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bg">
  <div class="wrap">
    <div class="tabs">
      <div class="{{tabIndex === 1 ? 'tab-item act' : 'tab-item'}}" tappable (click)="changeTab(1)">个人列表</div>
      <div class="{{tabIndex === 2 ? 'tab-item act' : 'tab-item'}}" tappable (click)="changeTab(2)">班级群发</div>
    </div>
    <div>
      <div *ngIf="tabIndex === 1">
        <div class="personalList" tappable (click)="navTo('ChatPage', conversation.username)" *ngFor="let conversation of chatHistory">
          <div class="iphoto"><img src={{conversation.image}} alt=""></div>
          <div class="cont">
            <div class="info">
              <div class="name">{{conversation.nickname}} </div>
              <div>{{conversation.date}}</div>
            </div>
            <div class="content">{{conversation.latestMessage}}</div>
          </div>
        </div>
      </div>
      <div *ngIf="tabIndex === 2">
        <div
          [ngClass]="{'classListAct': item.status, 'classList': !item.status}"
          *ngFor="let item of classList;index as i" tappable (click)="selectItem(item.id)"
        >
          <div class="type"  status>{{i + 1}}</div>
          <div class="cont">
            <div class="name">{{item.name}}</div>
            <div class="time">课程时间：{{item.clazzTime}}</div>
          </div>
        </div>
        <div class="btn" tappable (click)="openModal()">群发消息</div>
      </div>
    </div>
  </div>
</ion-content>
