<ion-content class="content">
  <div class="header">
    <ion-slides class="homeSlide" *ngIf="banners.length>0" pager="true" loop="true" >
      <ion-slide tappable *ngFor="let item of banners" class="list" >
        <div style="overflow: hidden;" tappable (click)="openLink(item.hyperlink)"><img src="{{item.coverUrl}}" style="width:100%" /></div>
      </ion-slide>
    </ion-slides>
    <menu-bar></menu-bar>
  </div>
  <reminder [data]="reminder"></reminder>
  <div class="panel">
      <st-sub-title title='课程进度' btnText='更多' tappable (click)='moreCourse()' noText='y'></st-sub-title>
      <div class="courseProgress" *ngIf="courseProgress">
        <div class="img"><img src='{{courseProgress.photoUrl}}' /></div>
        <div class="cont-box">
          <div class="date">{{courseProgress.dateStr}}</div>
          <div class="claim">{{courseProgress.claim}}</div>
          <div class="btn" tappable (click)="navToCourse(courseProgress.id, courseProgress.dateStr, courseProgress.type==='COURSE')">查看</div>
        </div>
      </div>
  </div>
  <div class="panel">
    <st-sub-title title='热点资讯' btnText='更多' tappable (click)='titleClick()'></st-sub-title>
    <st-news-list-thumb [list]=newsList></st-news-list-thumb>
  </div>
</ion-content>
